/* Layout geral */
.layout {
    margin: 40px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* CARD ESQUERDO */
.card-esquerdo {
    width: 220px;
    flex-shrink: 0;
}

.topo-card-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.topo-card-esquerdo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card-text {
    margin: 4px 0;
    font-weight: bold;
}

/* CARD CENTRAL */
.card-central {
    width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-central button {
    width: 160px;
    height: 38px;
    border-radius: 8px;
    background: #1184ff;
    color: #fff;
    margin-bottom: 15px;
    border: none;
}

.card-central .card-body {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #918b8b;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.infos-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infos-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.texto-user p {
    margin: 0;
}

#filtro {
    margin-left: auto;
    font-size: 0.9rem;
}

.hlb, .likes-comentarios {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input-comentario {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.input-comentario input {
    flex: 1;
    padding: 5px 10px;
}

.input-comentario button {
    padding: 5px 15px;
    background: #1184ff;
    color: #fff;
    border-radius: 5px;
    border: none;
}

/* CARD DIREITO */
.card-direito {
    width: 250px;
    flex-shrink: 0;
    max-height: 600px;
}

.card-direito img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-direito-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.card-direito h5 {
    margin-top: 20px;
}

/* Navbar img */
.navbar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#botao-like{
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    width: auto;
    height: auto;
}

